.footer {
 position: absolute;
 width: 100%;
 background-color: #343a40;

}

.footer-par {
 display: flex;
 justify-content: center;
 color: white;
}

.flex-wrapper {
 display: flex;
 min-height: 100vh;
 flex-direction: column;
 justify-content: space-between;
}